.admin {
  font-size: 2rem;
  width: 800px;
  margin: 0 auto;
  min-height: 100vh;
  display: grid;
  grid-template: "... ...... ...... ...... ...... ...... ..." "... header header header header header ..." 150px "... ...... ...... ...... ...... ...... ..." "... left   ...... center ...... right  ..." 1fr "... ...... ...... ...... ...... ...... ..." "... footer footer footer footer footer ..." 300px "... ...... ...... ...... ...... ...... ..." / auto 150px auto 1fr auto 200px auto;
}

.admin header {
  grid-area: header;
}

.admin main {
  grid-area: center;
}

.admin nav {
  grid-area: left;
}

.admin aside {
  grid-area: right;
}

.admin footer {
  grid-area: footer;
}

@media (max-width: 1000px) {
  .admin {
    grid-template: "header" 150px "center" 1fr "left  " "right " "footer" 300px / auto;
  }
}

.public-scene {
  font-size: 2rem;
  background-color: #E9E9E9;
  width: 100%;
  margin: 0 auto;
  min-height: 100vh;
  display: grid;
  grid-template: "...... ...... ...... ...... ......" "header header header header header" 100px "...... ...... ...... ...... ......" 60px "...... center center right  ......" 1fr "...... ...... ...... ...... ......" 100px "footer footer footer footer footer" 50px "...... ...... ...... ...... ......" / 13% 30% 30% 15% 13%;
}

.public-scene header {
  grid-area: header;
  background-color: white;
  display: grid;
  grid-template: "...... ...... ...... ...... ......" 20px "logo   ...... ...... ...... item-1" 60px "...... ...... ...... ...... ......" 20px / 20% 20% 20% 20% 20%;
}

.public-scene header .logo {
  grid-area: logo;
  width: 240px;
  margin-left: 25px;
}

.public-scene header .head-item {
  grid-area: item-1;
  display: grid;
  grid-template: "item-1 item-2 item-3 item-4" 34px / 25% 25% 25% 25%;
}

.public-scene header .head-item .notification {
  grid-area: item-1;
  height: 68px;
  padding: 5px;
  background-color: #b0c955;
  font-size: 18px;
}

.public-scene header .head-item .picture {
  grid-area: item-2;
  height: 68px;
  padding: 5px;
  background-color: #d4a0a0;
  font-size: 18px;
}

.public-scene header .head-item .carender {
  grid-area: item-3;
  height: 68px;
  padding: 5px;
  background-color: #9dd89b;
  font-size: 18px;
}

.public-scene header .head-item .logout {
  grid-area: item-4;
  height: 68px;
  padding: 5px;
  background-color: #5c70cc;
  font-size: 18px;
}

.public-scene .user-top {
  grid-area: center;
  font-size: 18px;
  display: grid;
  grid-template: "item-1 item-3" auto "...... item-3" 15px "item-2 item-3" auto "...... ......" 15px / 50% 50%;
}

.public-scene .user-top .job-offer {
  grid-area: item-1;
  margin-right: 15px;
  background-color: white;
}

.public-scene .user-top .schedule {
  grid-area: item-2;
  margin-right: 15px;
  background-color: white;
}

.public-scene .user-top .study-post {
  grid-area: item-3;
  margin-right: 15px;
  background-color: white;
}

.public-scene .user-info {
  grid-area: center;
  margin-right: 30px;
  display: grid;
  grid-template: "item-1" 450px "......" 15px "item-2" auto "......" 15px "item-3" auto "......" 15px "item-4" auto "......" 15px "item-5" auto "......" 15px "item-6" auto "......" 15px "item-7" auto "......" 15px "item-8" auto "......" 15px / 100%;
}

.public-scene .user-info .basic-info {
  grid-area: item-1;
  background-color: white;
  display: grid;
  grid-template: "item-1 item-2 item-2" 30px "item-1 item-3 item-3" 30px "item-1 item-4 item-4" 30px "item-7 item-5 item-5" 30px "item-8 item-6 item-6" 30px / 33% 34% 33%;
}

.public-scene .user-info .basic-info img {
  grid-area: item-1;
  height: 160px;
  margin: 50px 0 0 90px;
}

.public-scene .user-info .basic-info table {
  font-size: 18px;
  margin-top: 50px;
  width: 800px;
}

.public-scene .user-info .basic-info td {
  width: 150px;
  padding: 5px 0;
}

.public-scene .user-info .basic-info th {
  text-align: left;
  padding: 5px 0;
}

.public-scene .user-info .ability {
  grid-area: item-2;
  background-color: white;
}

.public-scene .user-info .ability h4 {
  font-size: 22px;
  margin: 30px 40px 10px;
  border-bottom: solid 2px rgba(197, 196, 196, 0.849);
}

.public-scene .user-info .ability .text-box {
  margin: 20px 50px;
  border: solid 1px;
  border-radius: 4px;
  font-size: 20px;
}

.public-scene .user-info .pr {
  grid-area: item-3;
  background-color: white;
}

.public-scene .user-info .pr h4 {
  font-size: 22px;
  margin: 30px 40px 30px;
  border-bottom: solid 2px rgba(197, 196, 196, 0.849);
}

.public-scene .user-info .pr h6 {
  margin: 10px 40px;
  font-size: 20px;
}

.public-scene .user-info .pr .text-box {
  margin: 20px 50px;
  border: solid 1px;
  border-radius: 4px;
  font-size: 20px;
}

.public-scene .user-info .desire {
  grid-area: item-5;
  background-color: white;
}

.public-scene .user-info .desire h4 {
  font-size: 22px;
  margin: 30px 40px 10px;
  border-bottom: solid 2px rgba(197, 196, 196, 0.849);
}

.public-scene .user-info .desire .desire-box {
  margin: 20px 50px;
  border: solid 1px;
  border-radius: 4px;
  font-size: 20px;
}

.public-scene .user-info .qualification {
  grid-area: item-4;
  background-color: white;
}

.public-scene .user-info .qualification h4 {
  font-size: 22px;
  margin: 30px 40px 10px;
  border-bottom: solid 2px rgba(197, 196, 196, 0.849);
}

.public-scene .user-info .qualification ul {
  margin: 20px 70px;
  list-style: none;
  padding: 0;
}

.public-scene .user-info .qualification ul li {
  border-bottom: solid 1px;
  font-size: 20px;
}

.public-scene .user-info .qualification .desire-box {
  margin: 20px 50px;
  border: solid 1px;
  border-radius: 4px;
  font-size: 20px;
}

.public-scene .user-info .item-6 {
  grid-area: item-6;
  background-color: white;
}

.public-scene .user-info .item-6 h4 {
  font-size: 22px;
  margin: 30px 40px 10px;
  border-bottom: solid 2px rgba(197, 196, 196, 0.849);
}

.public-scene .user-info .item-6 .desire-box {
  margin: 20px 50px;
  border: solid 1px;
  border-radius: 4px;
  font-size: 20px;
}

.public-scene .user-info .item-7 {
  grid-area: item-7;
  background-color: white;
}

.public-scene .user-info .item-7 h4 {
  font-size: 22px;
  margin: 30px 40px 10px;
  border-bottom: solid 2px rgba(197, 196, 196, 0.849);
}

.public-scene .user-info .item-7 .desire-box {
  margin: 20px 50px;
  border: solid 1px;
  border-radius: 4px;
  font-size: 20px;
}

.public-scene .user-info .submit {
  grid-area: item-8;
  width: 280px;
  background-color: #6fab13;
  border-radius: 7px;
  height: 60px;
  font-size: 22px;
  color: white;
  margin: 40px auto;
  text-align: center;
  line-height: 57px;
}

.public-scene .post {
  grid-area: center;
  margin-right: 30px;
  display: grid;
  grid-template: "item-1" auto "......" 15px "item-2" 100px "......" 15px / 100%;
}

.public-scene .post .learn-rec {
  grid-area: item-1;
  background-color: white;
}

.public-scene .post .learn-rec ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.public-scene .post .learn-rec li {
  border-bottom: solid 1px #E9E9E9;
  padding-left: 30px;
  height: 70px;
  line-height: 35px;
}

.public-scene .post .learn-rec li .creat-ttl {
  display: inline-block;
}

.public-scene .post .learn-rec li .creat-ttl p {
  margin: 0;
  font-size: 16px;
}

.public-scene .post .learn-rec li .creat-ttl p span {
  font-size: 12px;
}

.public-scene .post .learn-rec li img {
  width: 60px;
  height: 60px;
  padding: 5px 30px;
}

.public-scene .post .learn-rec .widget-header {
  height: 50px;
  background-color: #031C38;
  text-align: center;
}

.public-scene .post .learn-rec .widget-header h4 {
  margin: 0;
  color: white;
}

.public-scene .post .learn-rec .title {
  margin: 40px 80px;
  border: solid 1px;
  border-radius: 7px;
}

.public-scene .post .learn-rec .title h6 {
  margin: 0;
}

.public-scene .post .learn-rec .lang {
  border: solid 1px;
  border-radius: 7px;
  margin: 0 80px 40px;
  font-size: 22px;
}

.public-scene .post .learn-rec .text {
  border: solid 1px;
  border-radius: 7px;
  margin: 0 80px;
  font-size: 22px;
}

.public-scene .post .submit {
  grid-area: item-2;
  width: 280px;
  background-color: #6fab13;
  border-radius: 7px;
  height: 60px;
  font-size: 22px;
  color: white;
  margin: 40px auto;
  text-align: center;
  line-height: 57px;
}

.public-scene nav {
  grid-area: right;
  font-size: 18px;
  display: grid;
  grid-template: "item-1" auto "......" 15px "item-2" auto "......" 15px "item-3" auto / 100%;
}

.public-scene nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.public-scene nav li {
  border-bottom: solid 1px #E9E9E9;
  padding-left: 30px;
  height: 35px;
  line-height: 35px;
}

.public-scene nav .first-box {
  grid-area: item-1;
  background-color: white;
}

.public-scene nav .first-box .widget-header {
  height: 50px;
  background-color: #031C38;
  text-align: center;
}

.public-scene nav .first-box .widget-header h3 {
  margin: 0;
  line-height: 50px;
  font-size: 16px;
  color: white;
}

.public-scene nav .second-box {
  grid-area: item-2;
  background-color: white;
}

.public-scene nav .second-box .widget-header {
  height: 50px;
  background-color: #031C38;
  text-align: center;
}

.public-scene nav .second-box .widget-header h3 {
  margin: 0;
  line-height: 50px;
  font-size: 16px;
  color: white;
}

.public-scene nav .third-box {
  grid-area: item-3;
  background-color: white;
}

.public-scene nav .third-box .widget-header {
  height: 50px;
  background-color: #031C38;
  text-align: center;
}

.public-scene nav .third-box .widget-header h3 {
  margin: 0;
  line-height: 50px;
  font-size: 16px;
  color: white;
}

.public-scene footer {
  grid-area: footer;
  background: #333333;
}

.public-scene footer .copy {
  text-align: center;
  font-size: 10px;
  color: #95989A;
  line-height: 32px;
}

@media (max-width: 1000px) {
  .public-scene {
    grid-template: "header" 150px "center" 1fr "left  " "right " "footer" 300px / auto;
  }
}

.about {
  font-size: 2rem;
  width: 100%;
  margin: 0 auto;
  min-height: 100vh;
  display: grid;
  grid-template: "......" "header" 500px "......" "center" 2350px "......" "footer" 120px "......" / 100%;
}

.about header {
  grid-area: header;
  display: grid;
  grid-template: "header header header header" 200px "center center user-log corpo-log" 200px "footer footer footer footer" 100px / auto auto auto auto;
}

.about header h3 {
  grid-area: header;
}

.about header .user-log {
  grid-area: user-log;
}

.about header .user-log p {
  margin: 0;
}

.about header .corpo-log {
  grid-area: corpo-log;
}

.about header .corpo-log p {
  margin: 0;
}

.about main {
  grid-area: center;
  display: grid;
  grid-template: "header header header header header" 100px "subttl subttl subttl subttl subttl" 100px "...... conven ...... gitt   ......" 500px "cap    cap    cap    cap    cap   " 100px "...... featur featur featur ......" 600px "flow   flow   flow   flow   flow  " 100px "...... card-1 card-1 card-1 ......" 200px "...... card-2 card-2 card-2 ......" 200px "...... card-3 card-3 card-3 ......" 350px "...... ...... regest ...... ......" 100px / auto 400px 200px 400px auto;
}

.about main h3 {
  grid-area: header;
  font-size: 25px;
  text-align: center;
  background-color: gainsboro;
  padding: 13px;
}

.about main .sub-ttl {
  grid-area: subttl;
  text-align: center;
}

.about main .conventional {
  grid-area: conven;
  border: solid 1px;
  text-align: center;
  margin-top: 50px;
}

.about main .gitt {
  grid-area: gitt;
  border: solid 1px;
  text-align: center;
  margin-top: 50px;
}

.about main .cap {
  grid-area: cap;
  text-align: center;
  background-color: #041a31;
  padding: 60px;
  line-height: 5px;
  color: white;
}

.about main .feature {
  grid-area: featur;
  margin: 100px auto;
  border: solid 2px;
  border-radius: 6px;
  background: #f5f4f4;
  width: 70%;
  padding: 40px;
}

.about main .feature p {
  margin: 0;
  text-align: center;
}

.about main .feature .detail {
  font-size: 20px;
  padding: 40px;
  text-align: left;
}

.about main .flow {
  grid-area: flow;
  text-align: center;
  background-color: #041a31;
  padding: 60px;
  line-height: 5px;
  color: white;
}

.about main .card-1 {
  grid-area: card-1;
  margin: 120px auto 0;
  border: solid 2px;
  border-radius: 6px;
  background: #f5f4f4;
  width: 40%;
  height: 176px;
}

.about main .card-1 p {
  margin: 0;
  text-align: center;
  font-size: 25px;
}

.about main .card-1 .detail {
  font-size: 15px;
  padding: 10px;
  text-align: left;
}

.about main .card-2 {
  grid-area: card-2;
  margin: 120px auto;
  border: solid 2px;
  border-radius: 6px;
  background: #f5f4f4;
  width: 40%;
  height: 176px;
}

.about main .card-2 p {
  margin: 0;
  text-align: center;
  font-size: 25px;
}

.about main .card-2 .detail {
  font-size: 15px;
  padding: 10px;
  text-align: left;
}

.about main .card-3 {
  grid-area: card-3;
  margin: 120px auto;
  border: solid 2px;
  border-radius: 6px;
  background: #f5f4f4;
  width: 40%;
  height: 176px;
}

.about main .card-3 p {
  margin: 0;
  text-align: center;
  font-size: 25px;
}

.about main .card-3 .detail {
  font-size: 15px;
  padding: 10px;
  text-align: left;
}

.about main .regest {
  grid-area: regest;
  text-align: center;
  border: solid;
  border-radius: 50px;
  height: 47px;
  background-color: beige;
}

.about footer {
  grid-area: footer;
  background-color: gainsboro;
  display: grid;
  grid-template: "...... ...... header ...... ......" 40px "...... header header header ......" 40px "...... ...... header ...... ......" 40px / auto 400px 200px 400px auto;
}

.about footer .header {
  grid-area: header;
}

@media (max-width: 1000px) {
  .about {
    grid-template: "header" 300px "center" 1fr "footer" 100px / auto;
  }
}

.newreg {
  font-size: 2rem;
  width: 100%;
  margin: 0 auto;
  min-height: 100vh;
  display: grid;
  grid-template: "...... ...... ......" "header header header" 200px "...... ...... ......" "...... center ......" auto "...... ...... ......" 50px "footer footer footer" 120px "...... ...... ......" / 15% 70% 15%;
}

.newreg header {
  grid-area: header;
  display: grid;
  grid-template: "header header header" 35px "...... center userlo" 165px / 33% 34% 33%;
}

.newreg header .backcl {
  grid-area: header;
  background-color: #012554;
}

.newreg header .logo {
  grid-area: center;
  text-align: center;
  padding: 60px;
}

.newreg header .loggin {
  grid-area: userlo;
  text-align: right;
  padding: 60px;
  font-size: 18px;
}

.newreg main {
  grid-area: center;
  display: grid;
  grid-template: "title  title  title " 35px "form   form   form  " auto / 33% 34% 33%;
}

.newreg main .title {
  grid-area: title;
  margin: 0;
  font-size: 28px;
  border-bottom: solid;
  line-height: 10px;
}

.newreg main .formrg {
  grid-area: form;
  display: grid;
  grid-template: "namett namett namett namett" 100px "lastnm lastnm firstn firstn" 100px "lastkn lastkn firstk firstk" 100px "gender gender gender gender" 100px "birthd birthd birthd birthd" 100px "proimg proimg proimg proimg" auto "...... ...... ...... ......" auto "...... submit submit ......" 100px / 25% 25% 25% 25%;
}

.newreg main .formrg h2 {
  grid-area: namett;
  font-size: 20px;
  padding: 50px 0 20px 150px;
}

.newreg main .formrg h2 span {
  font-size: 12px;
  background-color: red;
  color: #f7f7f5;
  line-height: 0px;
  padding: 4px;
  margin-left: 10px;
}

.newreg main .formrg .lastnm {
  grid-area: lastnm;
  padding-left: 150px;
}

.newreg main .formrg .lastnm label {
  font-size: 18px;
}

.newreg main .formrg .firstn {
  grid-area: firstn;
  padding-right: 150px;
}

.newreg main .formrg .firstn label {
  font-size: 18px;
}

.newreg main .formrg .lastkn {
  grid-area: lastkn;
  padding-left: 150px;
}

.newreg main .formrg .lastkn label {
  font-size: 18px;
}

.newreg main .formrg .firstkana {
  grid-area: firstk;
  padding-right: 150px;
}

.newreg main .formrg .firstkana label {
  font-size: 18px;
}

.newreg main .formrg .gender {
  grid-area: gender;
  font-size: 18px;
  padding-left: 150px;
}

.newreg main .formrg .gender span {
  font-size: 12px;
  background-color: red;
  color: #f7f7f5;
  line-height: 0px;
  padding: 4px;
  margin-left: 10px;
}

.newreg main .formrg .gender input {
  margin-left: 10px;
}

.newreg main .formrg .gender .form {
  width: 76%;
}

.newreg main .formrg .birthd {
  grid-area: birthd;
  font-size: 18px;
  padding-left: 150px;
}

.newreg main .formrg .birthd span {
  font-size: 12px;
  background-color: red;
  color: #f7f7f5;
  line-height: 0px;
  padding: 4px;
  margin-left: 10px;
}

.newreg main .formrg .birthd select {
  margin-top: 10px;
}

.newreg main .formrg .birthd .year {
  height: 40px;
  font-size: 18px;
  width: 352px;
  border-radius: 7px;
}

.newreg main .formrg .birthd .month, .newreg main .formrg .birthd .day {
  height: 40px;
  font-size: 18px;
  width: 176px;
  border-radius: 7px;
}

.newreg main .formrg .birthd .form {
  width: 76%;
}

.newreg main .formrg .profimg {
  grid-area: proimg;
}

.newreg main .formrg .profimg .picture {
  margin-left: 150px;
  background-color: cornflowerblue;
  width: 160px;
  height: 160px;
}

.newreg main .formrg .profimg input {
  margin-left: 150px;
}

.newreg main .formrg .submit {
  grid-area: submit;
  width: 280px;
  background-color: #6fab13;
  border-radius: 7px;
  height: 60px;
  font-size: 22px;
  color: white;
  margin: 40px auto;
  text-align: center;
  line-height: 57px;
}

.newreg main .formrg .form {
  border: solid 1px;
  height: 38px;
  width: 95%;
  border-radius: 7px;
}

.newreg main .uselog {
  grid-area: form;
  display: grid;
  grid-template: "firstp firstp firstp firstp" 100px "second second second second" 100px "...... submit submit ......" 100px "bar    bar    bar    bar   " 50px "...... regest regest ......" 100px / 25% 25% 25% 25%;
}

.newreg main .uselog .firstp {
  grid-area: firstp;
  font-size: 18px;
  padding-left: 150px;
}

.newreg main .uselog .firstp span {
  font-size: 12px;
  background-color: red;
  color: #f7f7f5;
  line-height: 0px;
  padding: 4px;
  margin-left: 10px;
}

.newreg main .uselog .firstp input {
  margin-left: 10px;
}

.newreg main .uselog .firstp .form {
  width: 76%;
}

.newreg main .uselog .second {
  grid-area: second;
  font-size: 18px;
  padding-left: 150px;
}

.newreg main .uselog .second span {
  font-size: 12px;
  background-color: red;
  color: #f7f7f5;
  line-height: 0px;
  padding: 4px;
  margin-left: 10px;
}

.newreg main .uselog .second select {
  margin-top: 10px;
}

.newreg main .uselog .second .year {
  height: 40px;
  font-size: 18px;
  width: 352px;
  border-radius: 7px;
}

.newreg main .uselog .second .month, .newreg main .uselog .second .day {
  height: 40px;
  font-size: 18px;
  width: 176px;
  border-radius: 7px;
}

.newreg main .uselog .second .form {
  width: 76%;
}

.newreg main .uselog .submit {
  grid-area: submit;
  width: 280px;
  background-color: #6fab13;
  border-radius: 7px;
  height: 60px;
  font-size: 22px;
  color: white;
  margin: 40px auto;
  text-align: center;
  line-height: 57px;
}

.newreg main .uselog .bar {
  grid-area: bar;
  border-bottom: solid 1px;
}

.newreg main .uselog .regest {
  grid-area: regest;
  width: 280px;
  background-color: #ab3613;
  border-radius: 7px;
  height: 60px;
  font-size: 22px;
  color: white;
  margin: 40px auto;
  text-align: center;
  line-height: 57px;
}

.newreg main .uselog .form {
  border: solid 1px;
  height: 38px;
  width: 95%;
  border-radius: 7px;
}

.newreg footer {
  grid-area: footer;
  background-color: #F3F3F3;
}

@media (max-width: 1000px) {
  .newreg {
    grid-template: "header" 300px "center" 1fr "footer" 100px / auto;
  }
}
